br.clr {
    clear:both;
}

div#map, div#info {
    width:365px;
    padding:5px;
    float:left;
}

div#map {
    height:350px;
}

div#info form {
    width:330px;
}

div#info form input, div#info form label, div#info form textarea {
    width:60%;
    display:block;
    float:left;
    margin-top:4px;
}

div#info form label {
    width:35%;
    color:#554125;
    font-size:1.2em;
}

div#info form input.submit {
    width:150px;
    float:right;
    margin-right:20px;
}

p#warn {
    font-weight:bold;
}

div#mainpage ul li ul li {
    font-size:1.0em;
}

td {
    padding:3px 3px;
    font-size:1.2em;
    border-left:1px solid #EDECE8;
}

td.area {
    background:#faedbb;
}

td.top {
    background-color:#77613C;
    color:#fff;
    font-weight:bold;
}
table {
    padding-bottom:10px;
}